parameters:
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Static property [a-zA-Z0-9\\_]+::\$url_segment is never read, only written\.#'
        - '#Static property [a-zA-Z0-9\\_]+::\$menu_title is never read, only written\.#'
        - '#Static property [a-zA-Z0-9\\_]+::\$menu_icon is never read, only written\.#'
        - '#Static property [a-zA-Z0-9\\_]+::\$allowed_actions is never read, only written\.#'
        - '#Static property [a-zA-Z0-9\\_]+::\$dependencies is never read, only written\.#'
        - '#Static property [a-zA-Z0-9\\_]+::\$url_rule is never read, only written\.#'
    parallel:
        maximumNumberOfProcesses: 4
    level: 5
    paths:
        - src
    scanDirectories:
        - vendor